assertpy==0.9
click==6.6
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
jsonpickle==0.9.3
MarkupSafe==0.23
mock==2.0.0
pbr==1.10.0
pluggy==0.3.1
py==1.4.31
pytest==2.9.2
PyYAML==3.11
requests==2.10.0
requests-mock==1.0.0
six==1.10.0
tox==2.3.1
Werkzeug==0.11.10
